<!DOCTYPE html>
<html>
<head>
    <title>Gestor Servicio Externo Agent</title>
</head>
<body>
<form action="/addproduct" method="post">

    <input type="text" name="Nombre" placeholder="Nombre..."/><br>
    <input type="text" name="Marca" placeholder="Marca..."/><br>
    <input type="text" name="Descripcion" placeholder="Descripcion..."/><br>
    <input type="number" step="0.01" min="0" name="Precio" placeholder="Precio..."/><br>
    <input type="text" name="Categoria" placeholder="Categoria..."/><br>
    <input type="number" step="0.01" min="0"  name="Peso" placeholder="Peso..."/><br>
    <!--  <select type="string" multiple name="AgenteExterno" id = AgenteExterno>
        {% for agente in query %}
        <option>{{agente['nombre']}}</option> -->

    <td><select name ="vendedores">
        {% for vendedor in vendedores %}
            <option value = {{ vendedor['vendedor'] }}>{{ vendedor['nombre'] }}</option>
        {% endfor %}
        </select>select></td>
    </select><br>

    </select>
    <input type="submit" name="message" value="message">
</form>
</body>
</html>