<!DOCTYPE html>
<html>
<head>
    <title>Gestor Servicio Externo Agent</title>
</head>
<body>
<form action="/iface" method="post">
    <input type="text" name="Nombre" placeholder="Nombre..."/><br>
    <input type="number" name="Tarjeta" placeholder="Tarjeta..."/><br>
    <label> Transporte propio</label>
    <select type="boolean" multiple name="TransportePropio" id="TransportePropio" size = 2>
        <option>True</option>
        <option>False</option>
    </select><br>
    <input type="submit" name="message" value="message">
</form>
</body>
</html>