<!DOCTYPE html>
<html>
<head>
    <title>Gestor Servicio Externo Agent</title>
</head>
<body>
<form action="/addvendedor" method="post">
    <input type="text" name="Nombre" placeholder="Nombre..."/><br>
    <input type="number" name="Tarjeta" placeholder="Tarjeta..."/><br>
    <label> Transporte propio</label>
    <select type="boolean" name="TransportePropio">
        <option value = True>True</option>
        <option value = False>False</option>
    </select><br>
    <input type="submit" name="message" value="message">
</form>
</body>
</html>