<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles.css') }}" />
</head>
<body>
    {% include 'navbar.html' %}

    <b style="color:red">{{ error }}</b>
    <form action="/register" method="post">
        <tr>
            <td><b>Username: </b></td>
            <td><input type="text" name="username" placeholder="Enter Username"/><br></td>
        </tr>
        <br/>
        <tr>
            <td><b>Password: </b></td>
            <td><input type="password" name="password" placeholder="Enter Password"/><br></td>
        </tr>
        <br/>
        <input type="submit" name="register" value="Register">
    </form>
</body>
</html>